.containerForm {
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.containerLogin {
    background: white;
    border-radius: 0.6rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1% 1% 1%;
}

.legenda {
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tituloLogin {
    font-size: 200%;
    font-weight: 600;
}

.descricaoTitulo {
    font-size: 80%;
    font-weight: 500;
}

.articleForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.input {
    width: 99%;
    height: 100%;
    border: 0.15rem solid #e0e0e0;
    border-radius: 0.5rem;
    font-size: 80%;
    padding-left: 6%;
}

.input:focus {
    border-color: #c700c7;
    outline: none;
}

.labelEmail {
    position: absolute;
    top: 30.8%;
    left: 37.3%;
    background-color: white;
    color: #858585;
    font-size: 52%;
    padding: 0 0.5% 0 0.5%;
}

.labelSenha {
    position: absolute;
    top: 45.5%;
    left: 37.3%;
    background-color: white;
    color: #858585;
    font-size: 52%;
    padding: 0 0.5% 0 0.5%;
}


.iconeEmail {
    position: absolute;
    right: 35.5%;
    top: 34%;
    padding: 0.2%;
    color: #c700c7;
}

.iconeSenha {
    position: absolute;
    right: 35.5%;
    top: 48.7%;
    padding: 0.2%;
    color: #c700c7;
}

.olhinho {
    position: absolute;
    right: 35.5%;
    top: 49%;
    padding: 0.2%;
}

.olhinho:hover {
    cursor: pointer;
}

.paragrafoEmailInvalido,
.paragrafoSenhaInvalido {
    margin-left: 2%;
    font-size: 60%;
    font-weight: 500;
    color: #c700c7;
}


.containerButtonEntrar {
    width: 106%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.buttonLogin {
    width: 100%;
    height: 100%;
    background-color: #1e90ff;
    border: none;
    color: white;
    font-size: 110%;
    font-weight: 600;
    border-radius: 0.5rem;
}

.buttonLogin:hover {
    cursor: pointer;
}

.containerEsqueceuENaoTemContaOuSenha {
    width: 80%;
    height: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricaoNaoTemConta, .descricaoEsqueceuSenha {
    font-size: 75%;
}

.descricaoNaoTemConta {
    color: #2E2D37;
    font-weight: 500;
}

.descricaoEsqueceuSenha, .criarConta {
    color: #1e90ff;
    font-weight: 600;
}
