.containerCategorias {
    width: 86%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    overflow: hidden;
}

/*.containerTitulo {
    margin-left: 1%;
}*/

.titulo {
    font-size: 100%;
    color: white;
}

.containerSetasECategorias {
    display: flex;
    align-items: center;
    height: 80%;
}

.containerCategoriasParaMargem {
    height: 110%;
    width: 140%;
    overflow: hidden;
    margin: 0 0.7% 0 0.7%;
}

.containerTiposDeCategoria {
    display: flex;
    justify-content: space-between;
    transition: transform 1s ease-in-out ;
    width: 140.63%; /*141.33 */
    height: 100%;
}


.containerTipoDaCategoria {
    height: 95%;
    width: 13%; /*2.614% */
    background: rgb(30, 144, 255);
    background: linear-gradient(148deg, rgba(30, 144, 255, 1) 30%, rgba(0, 0, 0, 1) 80%);    
    border-radius: 10%;
}

.containerTipoDaCategoria:hover {
    cursor: pointer;
}

.nomeDaCategoria {
    color: white;
    width: 70%;
    font-size: 150%;
    font-weight: 600;
    margin: 25% 0 0 10%;
}

.containerSetaEsquerda, .containerSetaDireita {
    position: absolute;
    height: 1.8%;
    width: 2.4%;
    border-radius: 100%;
    z-index: 999;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: transform 1s ease-in-out;
}

.containerSetaDireita {
    left: 90.4%;

}

.setaDireita, 
.setaEsquerda {
    background-color: #ededed;
    padding: 0.5%;
    height: 45%;
    width: 45%;
    border: none;
}
.containerSetaEsquerda:hover,
.containerSetaDireita:hover {
    opacity: 1;
    cursor: pointer;
}