@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.containerFooter {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 40vh;
}

.sectionInfo {
    height: 50%;
    padding: 2.5% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.divLogo {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    height: 90%;
}

.imgLogo {
    height: 80%;
    width: 16%;
    border-radius: 5vh;
}

.nameLogo {
    color: white;
    font-size: 300%;
}


.divLinks {
    display: flex;
    justify-content: space-between;
    width: 33%;
    height: 100%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.linkUm, .linkDois {
    width: 13%;
}

.linkTres, .linkQuatro {
    width: 22%;
}

.sectionCopyright {
    margin: 0 2% 0 2%;
    padding-top: 0.5%;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.pCopyright {
    color: white;
    font-size: 2vh;
    font-weight: 600;
} 

.linkCopyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    width: 20.1%;
    font-weight: 600;
    color: white;
}