.containerHome {
    position: relative;
    width: 98.79vw;
    /*height: 100vh;*/
}

.containerContent {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin-top: 16%;
    margin-bottom: 8%;
}