.containerHome {
    position: relative;
    width: 98.79vw;
    /*height: 100vh;*/
}

.containerContent {
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    margin-top: 14%;
}