@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.navBar {
    z-index: 9999;
    position: fixed;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 10%;
    width: 98%;
    padding: 0 1% 0 1%;    
}

.divLogo {
    width: 12%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.divLogo:hover {
    cursor: pointer;
}


.logoMarcaImg {
    height: 50%;
    width: 25%;
    border-radius: 5rem;
}

.logoMarcaTitulo {
    font-size: 150%;
}

.divLogin {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttonIrParaConta {
    font-weight: 400;
    font-size: 80%;
    display: flex;
    width: 85%;
    height: 35%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    border: none;
    background-color: white;
}

.buttonFavoritos {
    font-weight: 600;
    width: 10%;
    height: 35%;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIrParaConta:hover,
.buttonFavoritos:hover {
    cursor: pointer;
}

.fontHeart {
    font-size: 130%;;
}

.fontUser {
    font-size: 130%;
    padding-bottom: 4%;
}

.divInfo {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e90ff;
}

.buttonInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-bottom: 0.15rem solid white;
    height: 100%;
    width: 100%;
}


.divButtonInfo {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: white;
    transition: all 0.3s;
}

.buttonInfo:hover {
    border-bottom: 0.15rem solid #1e90ff;
    cursor: pointer;
}