@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.navBar {
    z-index: 9999;
    position: fixed;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    background-color: white;
    height: 6vh;
    width: 98%;
}

.divLogo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    gap: 0.4vh;
}

.divLogo:hover {
    cursor: pointer;
}


.logoMarcaImg {
    height: 80%;
    width: 35%;
    border-radius: 5vh;
}

/*.logoMarcaName {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 3vh;
}*/

.divLogin {
    margin-right: 5%;
    width: 9%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.7vh;
}


.b {
    font-weight: 600;
    display: flex;
    width: 8vh;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    gap: 0.5vh;
}

.b:hover {
    cursor: pointer;
}

.fontHeart {
    padding-top: 2%;
    font-size: 3vh;;
}

.fontUser {
    font-size: 2.5vh;
    padding-bottom: 0.5vh;
}

.divInfo {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10vh;
}

.buttonInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    height: 100%;
    width: 100%;
}


.divButtonInfo {
    height: 160%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: white;
    border-bottom: 2px solid white;
    transition: all 0.3s;
}

.buttonInfo:hover {
    border-bottom: 2px solid #1e90ff;
    cursor: pointer;
}

